<div class="done-card">
    <h1>Completed Tasks</h1>
    {{>nav}}

    {{#if tasks}}
        <li>
            <div class="deleteDone">
                <form id="deleteDone_form" action="/deleteDone" method="POST">
                    <input id="deleteDone_button" name="deleteDone" type="submit" value="Delete All Done">
                </form>
            </div>
        </li>
    {{/if}}
    <div class="tasklist">
        <ul>
            {{#each tasks}}
                <li><a href="task/{{this._id}}">{{this.text}}</a> Created: {{this.dateCreated}} | Completed: {{this.dateCompleted}}
                </li>
            {{else}}
                <p>No tasks have been completed!</p>
            {{/each}}
        </ul>
    </div>
</div>